html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #f8f8f8;
}

.example-shell #viewDiv {
  background-color: #353535;
}

/** Setting custom core Calcite theme variables for light (default) and dark modes */

body.lavender {
  background-color: #3e3342;
}

body.lavender calcite-shell.example-shell {
  --calcite-ui-brand: #d6b9eb;
  --calcite-ui-brand-hover: #c59cd6;
  --calcite-ui-brand-press: #b399c4;
  --calcite-ui-background: #3e3342;
  --calcite-ui-foreground-1: #2e2933;
  --calcite-ui-foreground-2: #2b262c;
  --calcite-ui-foreground-3: #1b181b;
  --calcite-ui-info: #be3dc4;
  --calcite-ui-success: #28d258;
  --calcite-ui-warning: #ff9900;
  --calcite-ui-danger: #fe3e7e;
  --calcite-ui-danger-hover: #ff004c;
  --calcite-ui-danger-press: #db005b;
  --calcite-ui-text-1: #fef2ff;
  --calcite-ui-text-2: #fef5ff;
  --calcite-ui-text-3: #faf0f9;
  --calcite-ui-text-inverse: #1a0416;
  --calcite-ui-text-link: #872686;
  --calcite-ui-border-1: #373239;
  --calcite-ui-border-2: #413941;
  --calcite-ui-border-3: #463e47;
  --calcite-ui-border-input: #49434c;
}

body.mint {
  background-color: #252927;
}

body.mint calcite-shell.example-shell {
  --calcite-ui-brand: #00dea6;
  --calcite-ui-brand-hover: #00c997;
  --calcite-ui-brand-press: #00b386;
  --calcite-ui-background: #252927;
  --calcite-ui-foreground-1: #282f2c;
  --calcite-ui-foreground-2: #2f3633;
  --calcite-ui-foreground-3: #353b38;
  --calcite-ui-info: #38deff;
  --calcite-ui-success: #60fc44;
  --calcite-ui-warning: #ffca38;
  --calcite-ui-danger: #ff3639;
  --calcite-ui-danger-hover: #d93437;
  --calcite-ui-danger-press: #7c1d13;
  --calcite-ui-text-1: #f5fffc;
  --calcite-ui-text-2: #e6fcf6;
  --calcite-ui-text-3: #d6fff0;
  --calcite-ui-text-inverse: #1a1c1b;
  --calcite-ui-text-link: #15e8dd;
  --calcite-ui-border-1: #202422;
  --calcite-ui-border-2: #39473f;
  --calcite-ui-border-3: #2b3d33;
  --calcite-ui-border-input: #242e29;
}

body.ranger {
  --calcite-ui-brand: #3cb233;
}

body.ranger calcite-shell.example-shell {
  --calcite-ui-brand: #3cb233;
  --calcite-ui-brand-hover: #2d8626;
  --calcite-ui-brand-press: #256f20;
  --calcite-ui-background: #423b33;
  --calcite-ui-foreground-1: #332f29;
  --calcite-ui-foreground-2: #2c2a26;
  --calcite-ui-foreground-3: #1a1917;
  --calcite-ui-info: #2d8626;
  --calcite-ui-success: #36da43;
  --calcite-ui-warning: #ffc900;
  --calcite-ui-danger: #fe583e;
  --calcite-ui-danger-hover: #ff0015;
  --calcite-ui-danger-press: #d90012;
  --calcite-ui-text-1: #fdf0d5;
  --calcite-ui-text-2: #fff6f6;
  --calcite-ui-text-3: #ffffff;
  --calcite-ui-text-inverse: #000000;
  --calcite-ui-text-link: #2d8626;
  --calcite-ui-border-1: #3a3335;
  --calcite-ui-border-2: #40383a;
  --calcite-ui-border-3: #47423e;
  --calcite-ui-border-input: #4b4245;
  background-color: #252927;
}

calcite-loader {
  color: var(--calcite-ui-brand);
}

calcite-block {
  --calcite-block-padding: 0;
}

#route-scrim {
  z-index: 9;
  --calcite-scrim-background: rgba(44, 42, 38, 0.8);
}

calcite-list-item:not([selected]) calcite-chip {
  display: none;
}

calcite-action-pad {
  margin-inline: 0.5rem;
}

calcite-navigation > calcite-chip {
  align-self: center;
  margin: 0 0.5rem;
}

ul li {
  font-size: 16px;
  color: var(--calcite-ui-text-2);
  margin: 1.75rem 0;
}

ul {
  margin: 0;
}

ul li calcite-chip {
  margin: 0 0.175rem;
}

h2 {
  color: var(--calcite-ui-text-2);
  font-weight: 400;
}

pre {
  font-size: 18px !important;
}

.text-container {
  width: 760px;
  max-width: 90vw;
  font-size: 18px;
  margin: 2rem auto;
}

.example-shell {
  margin: auto;
  border-radius: 4px;
  inline-size: calc(100% - 4rem);
  block-size: calc(100% - 4rem);
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.18), 0 2px 8px 0 rgba(0, 0, 0, 0.34);
}

calcite-shell {
  background-size: 16px 16px;
  background-color: var(--calcite-ui-background);
  background-image: radial-gradient(
    circle,
    var(--calcite-ui-border-3) 1px,
    transparent 1px
  );
}

calcite-shell-panel[slot="panel-start"] {
  --calcite-shell-panel-min-width: 340px;
  --calcite-shell-panel-width: 340px;
  --calcite-shell-panel-max-width: 340px;
}

#modal {
  --calcite-modal-content-background: var(--calcite-ui-background);
  --calcite-modal-scrim-background: rgba(75, 75, 75, 0.9);
  --calcite-modal-height: 70vh;
  --calcite-modal-width: 70vw;
}

#modal {
  font-size: 1rem;
}
calcite-accordion {
  --calcite-ui-foreground-1: transparent;
  --calcite-block-padding: 0;
}

#modal hr {
  margin: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--calcite-ui-border-3);
}

#modal ul li {
  margin-bottom: 0.5rem;
}

#modal calcite-notice {
  margin-bottom: 1.25rem;
}
