html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

/** Setting custom core Calcite theme variables for light (default) and dark modes */
calcite-shell.calcite-mode-dark {
  --calcite-ui-brand: #00dea6;
  --calcite-ui-brand-hover: #00c997;
  --calcite-ui-brand-press: #00b386;
  --calcite-ui-background: #252927;
  --calcite-ui-foreground-1: #282f2c;
  --calcite-ui-foreground-2: #2f3633;
  --calcite-ui-foreground-3: #353b38;
  --calcite-ui-info: #38deff;
  --calcite-ui-success: #60fc44;
  --calcite-ui-warning: #ffca38;
  --calcite-ui-danger: #ff3639;
  --calcite-ui-danger-hover: #d93437;
  --calcite-ui-danger-press: #7c1d13;
  --calcite-ui-text-1: #f5fffc;
  --calcite-ui-text-2: #e6fcf6;
  --calcite-ui-text-3: #d6fff0;
  --calcite-ui-text-inverse: #1a1c1b;
  --calcite-ui-text-link: #15e8dd;
  --calcite-ui-border-1: #202422;
  --calcite-ui-border-2: #39473f;
  --calcite-ui-border-3: #2b3d33;
  --calcite-ui-border-input: #242e29;
}

#modal hr {
  margin: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--calcite-ui-border-3);
}

#modal ul li {
  margin-bottom: 0.5rem;
}

#modal calcite-notice {
  margin-bottom: 1.25rem;
}
