html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #353535;
}

calcite-loader {
  color: var(--calcite-ui-brand);
}

calcite-block {
  --calcite-block-padding: 0;
}

#route-scrim {
  z-index: 9;
  --calcite-scrim-background: rgba(44, 42, 38, 0.8);
}

calcite-list-item:not([selected]) calcite-chip {
  display: none;
}

calcite-action-pad {
  margin-inline: 0.5rem;
}

calcite-navigation > calcite-chip {
  align-self: center;
  margin: 0 0.5rem;
}

ul li {
  font-size: 16px;
  color: var(--calcite-ui-text-2);
  margin: 1.75rem 0;
  padding: 0 1rem 0.25rem;
}
ul {
  margin: 0;
}

ul li calcite-chip {
  margin: 0 0.175rem;
}

pre {
  font-size: 14px !important;
}

#modal {
  --calcite-modal-content-background: var(--calcite-ui-background);
  --calcite-modal-scrim-background: rgba(75, 75, 75, 0.9);
  --calcite-modal-height: 80vh;
  --calcite-modal-width: 60vw;
}

calcite-accordion {
  --calcite-ui-foreground-1: transparent;
  --calcite-block-padding: 0;
}
#modal hr {
  margin: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--calcite-ui-border-3);
}

#modal ul li {
  margin-bottom: 0.5rem;
}

#modal calcite-notice {
  margin-bottom: 1.25rem;
}
