html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background-color: #353535;
}

calcite-action-pad {
  margin-inline: 0.5rem;
}

calcite-navigation {
  --calcite-navigation-border-color: transparent;
}

calcite-navigation > calcite-chip {
  align-self: center;
  margin: 0 0.5rem;
}

ul li {
  font-size: 18px;
  color: var(--calcite-ui-text-2);
  margin: 1.75rem 0;
}
ul {
  margin: 0 0 3rem;
}

ul li calcite-chip {
  margin: 0 0.175rem;
}

h3 {
  font-size: 18px;
  margin: 0 0 2rem;
  color: var(--calcite-ui-text-1);
  font-weight: 500;
}

pre {
  font-size: 14px !important;
  margin: 1rem 0 0 !important;
}

#modal {
  --calcite-modal-content-background: var(--calcite-ui-background);
  --calcite-modal-scrim-background: rgba(75, 75, 75, 0.9);
  --calcite-modal-height: 70vh;
  --calcite-modal-width: 60vw;
}

#modal hr {
  margin: 1rem 0;
  border: 0;
  border-bottom: 1px solid var(--calcite-ui-border-3);
}

#modal ul li {
  margin-bottom: 0.5rem;
}

#modal calcite-notice {
  margin-bottom: 1.25rem;
}
